*
!.gitignore


# Lazygit
!lazygit/config.yml

# nixos
!nixos/
!nixos/*
!nixos/*/*
!nixos/*/*/*

# hyprland
!hypr/
!hypr/*
!hypr/*/*

# niri :))
!niri/
!niri/*

# fish
!fish/
!fish/config.fish

# waybar
!waybar/
!waybar/*
!waybar/*/
!waybar/*/*
!waybar/*/*/*

# themes
!themes/
!themes/*
!themes/*/*

# vscode
!Code/
!Code/User/
!Code/User/settings.json


# random stuff
!StartTree/config.yaml
!foot/foot.ini
!fuzzel/
!fuzzel/fuzzel.ini
!mako/
!mako/config
!cava/config
!superfile/
!superfile/*
!vesktop/settings.json
!scripts/
!scripts/*

# noctalia
!noctalia/
!noctalia/*
