*
!.gitignore


# Lazygit
!lazygit/
!lazygit/config.yml

# neovim
!nvim/
!nvim/*
!nvim/lua/*
!nvim/lua/*/*

# ags
!ags/
!ags/*
!ags/*/*
!ags/*/*/*
!ags/*/*/*/*

# hyprland
!hypr/
!hypr/*
!hypr/*/*

# nvim
!nvim/
!nvim/*
!nvim/*/*
!nvim/*/*

# fish
!fish/
!fish/*
!fish/*/*

# StartTree
!StartTree/
!StartTree/*
