*
!.gitignore


# Lazygit
!lazygit/config.yml

# nixos
!nixos/
!nixos/*
!nixos/*/*
!nixos/*/*/*

# hyprland
!hypr/
!hypr/*
!hypr/*/*

# niri :))
!niri/
!niri/*

# fish
!fish/
!fish/*
!fish/*/*
fish/fish_variables

# waybar
!waybar/
!waybar/*
!waybar/*/
!waybar/*/*
!waybar/*/*/*

# random stuff
!StartTree/config.yaml
!foot/foot.ini
!rofi/config.rasi
!cava/config
!superfile/
!superfile/*
!vesktop/settings.json
!scripts/
!scripts/*
