//not working rn
spawn-at-startup "waybar"

spawn-at-startup "hyprpaper"
spawn-at-startup "mako"
spawn-at-startup "wl-paste --watch cliphist store"

spawn-sh-at-startup "nix develop ~/code/python --command ~/code/python/scripts/tile_n.py"


// login
spawn-at-startup "hyprlock"
spawn-at-startup "xdotool key enter"

spawn-at-startup "spotify --minimized"
