layout {

    focus-ring {
        active-color   "#c1c4e9"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c1c4e9"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c1c4e9"
        inactive-color "#303452"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c1c4e980"
    }
}

recent-windows {
    highlight {
        active-color "#c1c4e9"
        urgent-color "#ffb4ab"
    }
}
